* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
         /* Opera/IE 8+ */
}

html, body {
  padding: 0;
  margin: 0;

}


body {
  color: #15181d;
  background: #fff url('../img/bg-frog-v2.jpg') no-repeat center center fixed;
  background-size: cover;
  font: 14px/ 1.55 'Roboto', sans-serif;

}

/* basic elements */

h1 {
  color: #e26811;
  font-size: 2em;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 40px;
  background: url('../img/ico-frog.png') no-repeat left center;

}

/* first paragraph is supposed to be italic */
p:first-child {
  font-size: 16px;
  font-style: italic;

}

p:last-child {
  text-align: center;

}

.button {
    color: #e26811;
    background-color: #fff; /* Green */
    text-align: center;
    text-decoration: none;
    margin: 5px auto 0;
    padding: 8px 16px;
    border: 1px solid #e26811;
    border-radius: 2px;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

}

.button:hover {
    background-color: #e26811;
    color: white;
}

ul {
  -webkit-padding-start:0;
  padding: 5px 0;

}

li {
  list-style-type: none;

}

li span {
  /*color: #e26811;*/
  font-weight: bold;
  padding-right: 5px;

}


img {
  display: block;
  margin: 0 auto;
  border: 1px solid #adce5f;
  border-radius: 2px;

}


/* content elements */

#card {
  width: 344px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #fff;
  box-shadow:  0 0 60px 0 rgba(31,32,68,0.55);

}

.content {
  width: 302px;
  margin: 20px auto 0;
  padding: 15px;
  border: 1px solid #adce5f;
  border-radius: 2px;

}
